.containerCard {
  display: flex;
  width: 517px;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
height: 200px;
  overflow: hidden;
  margin: 0;
  border-radius: 5px;
  box-shadow: -2px 0px 14px -4px rgba(255, 255, 255, 0.97);
  -webkit-box-shadow: -2px 0px 14px -4px rgba(255, 255, 255, 0.97);
  -moz-box-shadow: -2px 0px 14px -4px rgba(255, 255, 255, 0.97);
}

.contenedorButton {
  display: flex;
  flex-direction: column;
  

}

.favorites{
  background-color: transparent;
  border: none;
 

}

.buttonClick {
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 4px;
  width: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin: 8px;
  border: 1px solid black;
}

.containerImage {
 
  text-align: center;
  display: contents;
}



.containerDates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 7px 20px 20px 20px; 
  gap: 10px;
  
}

.containerDates p {
  color: white;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}


.containerDates p:hover{
  color: #848430;
}

.containerDates a{
  text-decoration: none;
}

.containerDates h4{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0;
  color: white;
  margin-bottom:5px;

}

.containerDates h5{
  margin: 0;
  color: rgb(193, 193, 193);
}

.containerDates h4 span{

  width: 10px;
  height: 10px;
  background-color: #55cc44;
  border-radius: 50000px;
}

.contenedorGeneroImage{
  display: flex;
  justify-content: center;
  gap: 120px;
  align-items: center;
}