.containerLogin {
  background-color: gray;
  margin: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 400px;
  text-align: center;
}

.warning {
    border: red;
    background-color: brown;
}
