.contenedorNav {
  background-color: rgba(252, 252, 252, 0.63);

  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 25px;
}

.contenedorNav a {
  background-color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.contenedorNav a:hover {
  background-color: bisque;
  transition: 0.5s;
}

.contenedorNav a p {
  margin: 0;
}

.contenedorOnSearch {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
