.contenedorNav {
  background-color: rgba(252, 252, 252, 0.63);

  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 25px;
}

.contenedorNav a {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 5px;
}

.contenedorNav a:hover {
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  transition: 0.8s;
}

.contenedorNav a p {
  margin: 0;
}

.contenedorOnSearch {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorNav .btn{
  cursor: pointer;
  padding: 8px;
  color: white;
  background-color: brown;
  border: none;
  border-radius: 5px;
}