.conteinerSearch {
  display: flex;
  gap: 25px;
}

.conteinerSearch input {
  border-radius: 5px;
  border: none;
  padding: 5px;
}



.conteinerSearch button {
  border: none;
  cursor: pointer;
  background-color: #0f5669;
  border-radius: 5px;
  color: white;
  padding: 10px;
}
