body {
  margin: 0;
  padding: 0;
  
}

.contenedor {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.392)), url('https://www.xtrafondos.com/wallpapers/rick-y-morty-como-breaking-bad-5441.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}









.contenedor h1 {
  font-weight: bold;
  font-size: 50px;
  color: aliceblue;

  font-family: 'Creepster', cursive;
}



.containerCards{

  padding: 10px 40px;
  margin: 40px 10px;
  width: 91.5%;


}








.contenedorButton  {
  border: none;
  width: 140px;
  height: 55px;
  color: #fff;
  font-family: "Arial";
  letter-spacing: 1.2px;
  font-weight: bold;
  z-index: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.547);
  position: relative;
  border-radius: 5px;
  padding:0 ;
  cursor: pointer;
 }
 
 .contenedorButton p { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
  align-self: center;
  font-size: 1.5em;
  text-align: center;
 }
 
 .contenedorButton::after, .contenedorButton::before {
  position: absolute;
  content: "";
  border-radius: 5px;

  width: 100%;
  z-index: -1;
  height: 10%;
  clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  background:#f0b906;
 
  transition: 0.2s cubic-bezier(.02,.02,.23,.73);
 }
 
 .contenedorButton::after {
  bottom: 0;
 }
 
 .contenedorButton::before {
  transform: rotate(180deg);
 }
 
 .contenedorButton:hover::after {
  clip-path: path('M0 199.88C8.33 270.71 16.67 306.13 25 306.13C37.5 306.13 35.91 231.4 50 231.13C64.09 230.85 62.5 284.25 75 284.25C87.5 284.25 87.17 208.05 100 212.38C112.83 216.7 112.71 300.8 125 300.47C137.29 300.13 137.76 239.04 150.48 237.38C163.19 235.71 162.16 293.63 174.54 293.63C182.79 293.63 191.28 262.38 200 199.88L200 0.13L0 0.13L0 199.88Z');
  height: 30%;
 }
 
 .contenedorButton:hover::before {
  clip-path: path('M0 199.88C8.33 270.71 16.67 306.13 25 306.13C37.5 306.13 35.91 231.4 50 231.13C64.09 230.85 62.5 284.25 75 284.25C87.5 284.25 87.17 208.05 100 212.38C112.83 216.7 112.71 300.8 125 300.47C137.29 300.13 137.76 239.04 150.48 237.38C163.19 235.71 162.16 293.63 174.54 293.63C182.79 293.63 191.28 262.38 200 199.88L200 0.13L0 0.13L0 199.88Z');
  height: 100%;
 }
 